.initial-price {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
  margin-right: 10px;
}

.final-price {
  font-weight: bold;
  color: green;
  font-size: 20px;
  margin-right: 10px;
}

.normal-price {
  font-size: 20px;
  color: black;
}
