<h1>Cart</h1>
<div>
  @if (cart().length > 0) {
    @for (item of cart(); track item.id) {
      <div>
        <p>{{ item.title }} - {{ item.price }} € - {{ item.qty }} pcs</p>
        <div>
          <button
            (click)="increaseItem(item.id)"
            type="button"
          >
            +
          </button>
          <button
            (click)="decreaseItem(item.id)"
            type="button"
          >
            -
          </button>
          <button
            (click)="deleteItem(item.id)"
            type="button"
          >
            Delete
          </button>
        </div>
      </div>
    }
  } @else {
    <p>Cart is empty</p>
  }
</div>
<div>
  <h2>Total price: {{ totalPrice() }} €</h2>
  <h2>Total items: {{ totalQuantity() }} pcs</h2>
  <button
    (click)="clearCart()"
    type="button"
  >
    Clear cart
  </button>
</div>
