.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

.product {
  background-color: azure;
  border: 2px solid gray;
}

.product.selected {
  background-color: rgb(99, 39, 210);
  border: 2px solid rgb(255, 0, 208);
  color: white;
}
